:root{ /*Variables generales para cambiar cuando haga el estilo alternativo o modo noche*/
    --bgColor : rgb(255, 255, 255);
    --textColor : rgb(0, 0, 0);
    --baseTextSize : 12px;

    --headerFontSize: 20px;
    --headerHeight: 60px;
    --headerHoverColor: rgb(217, 255, 255);
    --headerBgColor: azure;
}

header{ /*Propiedades de la cabecera*/
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

body{ /* Cambia del color del texto por defecto y la fuente, queria poner comic sans pero no se puede :( */
    color: var(--textColor);
    /*font-family: 'Courier New', Courier, monospace;*/
    margin: 0px;
}

nav{ /*Propiedades de la seccion de navegacion de la cabecera*/
    background: var(--headerBgColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
}

nav ul{ /*Lista desordenada de elementos de navegacion dentro de la propia pagina*/
    list-style-type: none;
    text-align: left;
    margin: 0 2% auto 0;
    max-width: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: var(--headerFontSize);
}

nav ul li{ /*Propiedades de cada elemento de la lista*/
    display: inline-block;
    line-height: var(--headerHeight);
}

nav ul li a{ /*Propiedades de los hiperlinks*/
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

p{ /*Esto es un poco para testeo*/
    width: 10%;
}

.content{ /*Contenidos de la pagina, por debajo de header*/
    margin-top: var(--headerHeight);
}

.dropdown{ /*Propiedades generales del elemento d ela lista desordenada que contiene el dropdown*/
    position: relative;
    display: inline-block;
}

.dropbtn{ /*Propiedades del boton que despliega el dropdown menu*/
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-size: var(--headerFontSize);
}

.dropdown-content{ /*Propiedades de cada elemento que despliega el dropdown*/
    display: none;
    position:absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
    background-color: var(--headerBgColor);
}

.dropdown-content a{ /*Propiedades del hipervingulo dentro de cada elemento que despliega el Dropdown*/
    display: block;
}

nav img{ /*Propiedades de la imagen dentro de la barra de navegacion*/
    display:block;
    margin-top: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    float:right;
}

.imageHyperlink { /*Clase generica para hacer que el hover funcionara bien*/
    opacity: 1;
}

.dropdown:hover .dropdown-content {display: block;}/*Hover que despliega los elementos del dropdown, o mas bien los muestra*/

.imageHyperlink :hover {  /*Hover de la imagen*/
    /*width: 50px;
    height: 50px;*/
    opacity: 0.8;
    background-color: var(--headerHoverColor);
}

.dropdown-content :hover{ /*Hover del contenido de cada elemento de dropdown*/
    background-color: var(--headerHoverColor);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
}

nav ul li:hover { /*Hover de los elementos de la barra de navegacion*/
    background-color: var(--headerHoverColor);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
}
