:root{
    --bgColor : rgb(255, 255, 255);
    --textColor : rgb(0, 0, 0);
    --baseTextSize : 12px;
    --headerHeight: 80px;
}

header{
    height: 80px;
    z-index: 10;
}

body{ /* Cambia del color del texto por defecto y la fuente, queria poner comic sans pero no se puede :( */
    color: var(--textColor);
    /*font-family: 'Courier New', Courier, monospace;*/
    background-color: white;
    
}

#banner { /*Cabecera para la pagina*/
    /*background-image: url("../img/HBG.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    border-left: 20px solid rgb(48, 29, 173);
    padding: 10px;
    outline: 10px solid azure;
    padding-bottom: 300px;*/
}

button {
    float: right;
    left: 85%;
    position: fixed;
    background-color: #beb5d6;
    border: 3px black;
    color:black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
  }

nav{
    background: azure;
    position: fixed;
    float: none;
    width: 100%;
    height: var(--headerHeight);
}

nav ul{
    list-style-type: none;
    text-align: left;
    margin: 0 2% auto 0;
    padding-left: 0;
    max-width: 100%;
}

nav ul li{
    display: inline-block;
    line-height: var(--headerHeight);
}

p{
    width: 10%;
}

/*
th {
    border: 3px solid white;
    font-weight: bold;
}

td {
    border: 2px dashed rgb(175, 251, 255);
}

#pIntro { /*Texto introductorio* /
    background: rgb(165, 255, 253);
    text-shadow: 0px 0px 2px black;
    color: blue;
    font-size: 120%;
}

.pNormal { /*Texto normal* /
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

h1 {
    color: #f34fff; 
    font-style: italic; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: #75f1ff; 
    font-style: italic; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    color: rgb(0, 255, 0);
}

.quote {
    color: rgb(255, 224, 162);
    font-weight: bold;
}

a {
    background-color: rgb(255, 130, 130);
    font-style: oblique;
    font-weight: bold;
}

ol {
    list-style-position: inside;
}

ul {
    list-style:circle;
}

.HighlightedText {
    font-weight: 600;
    text-decoration-line: underline;
}
